.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
}

.slider {
  position: relative;
  width: 300px;
  margin: 50px auto;
  
  &__container {
    position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
  }
  
  &__list {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
  }
  
  &__item {
    float: left;
    margin: 0;
    padding: 0;
    width: 300px;
    height: 200px;
    box-sizing: border-box;
    background-color: #eee;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  &__arrow {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    background-color: #efefef;
    border: 2px solid #ccc;
    border-radius: 50%;
    font-size:16px;
    font-weight:bold;
    color:black;
    cursor: pointer;
    
    &:hover {
      background-color: #fff;
    }
    
    &:focus {
      background-color: #fff;
      outline: none;
    }
    
    &:active {
      background-color: #fff;
    }
    
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -8px;
      width: 16px;
      height: 16px;
      border: 2px solid #ccc;
      box-sizing: border-box;
      transform: rotate(45deg);
    }
    
    &--prev {
      left: -60px;
      
      &::before {
        left: 13px;
        border-top-color: transparent;
        border-right-color: transparent;
      }
    }
    
    &--next {
      right: -60px;
      
      &::before {
        border-left-color: transparent;
        border-bottom-color: transparent;
        right: 13px;
      }
      
    }
  }

}

.block {
  position: absolute;
  width: 100px;
  height: 50px;
  background: green;
  margin: 30px;
}